<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="ejercicio-ranas">
  
  <template>
    <style>
      :host {
        display: block;
      }
      .square{
        width: 20px;
        height: 20px;
        text-align: center;
        padding: 2px 0;
        box-sizing: border-box;
        background-color: blue;
        color: #ffffff;
        margin: 0 2px;
        float: left;
      }
      .clear {
        clear: both;
      }
    </style>

    <div>
      <input id="txtSaltos" type="text" placeholder="¿Cuántos saltos?" />
      <button on-click="_saltar">Saltar</button>
    </div>

    <div>&nbsp;</div>

    <template is="dom-repeat" items="[[arrayPosicion]]">
        <div class="square">[[item.position]]</div>
    </template>

    <div class="clear"></div>

  </template>

  <script type="text/javascript" src="./ejercicio-ranas.js"></script>
</dom-module>
