<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="ejercicio-agenda">
  <template>

    <style>
      :host {
        display: block;
      }
      :host a {
        text-decoration: underline;
        color: blue;
      }
      :host a:hover {
        cursor: pointer;
      }
    </style>
    
    <input id="txtEventName" type="text" placeholder="Escribe tu evento" />
    <button id="btnAddEvent" on-click="_addEvent">{{labelButton}}</button>

    <div>&nbsp;</div>

    <template is="dom-repeat" items="[[listaEventos]]">
      <div><b>[[labelEvent]]</b>[[item.eventName]] (<a id="[[item.idEvent]]" on-click="_removeEvent">Eliminar</a>)</div>
    </template>

  </template>

  <script type="text/javascript" src="./ejercicio-agenda.js"></script>
</dom-module>
