<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="elemento-agenda">

  <template>

    <style>
      :host {
        display: block;
      }
      :host a {
        text-decoration: underline;
        color: blue;
      }
      :host a:hover {
        cursor: pointer;
      }
    </style>

    <div>
        <b>[[label]]</b>[[eventName]] (<a on-click="_deleteEvent">Eliminar</a>)
        <br/>
        <br/>
    </div>

  </template>

  <script type="text/javascript">

    /**
     * `elemento-agenda`
     * 
     *
     * @customElement
     * @polymer
     */
    class ElementoAgenda extends Polymer.Element {

      static get is() { return 'elemento-agenda'; }

      static get properties() {
        return {

          label: {
            type: String,
            value: 'Evento: '
          },

        };
      }

      _deleteEvent() {
        //this.dispatchEvent(new CustomEvent('event-remove', { bubbles: true, composed: true }));
      }

    }

    window.customElements.define(ElementoAgenda.is, ElementoAgenda);

  </script>

</dom-module>